<% title "Sign Up" %>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { class: "card" }) do |f| %>
  <div class="card__header">
    <h1 class="heading-1">Sign Up</h1>
  </div>
  <div data-controller="passwords" class="card__body">
    <div class="field">
      <%= f.label :name, "Name", class: "label" %>
      <%= f.text_field :name, autofocus: true, autocomplete: "name", placeholder: "John Doe", class: "input" %>
    </div>
    <div class="field">
      <%= f.label :email, "Email", class: "label" %>
      <%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder: "johndoe@email.com", class: "input" %>
    </div>
    <div class="field">
      <%= f.label :password, "Password", class: "label" %>
      <div class="input-wrapper">
        <%= f.password_field :password, autocomplete: "new-password", class: "input", "data-passwords-target": "password" %>
        <button tabindex="-1" data-action="click->passwords#toggle" type="button" class="input-wrapper__icon input-wrapper__icon--right">
          <i data-passwords-target="toggle" class="fa-sharp fa-light fa-eye"></i>
        </button>
      </div>
      <% if @minimum_password_length && resource.errors[:password].blank? %>
        <em class="field__description">(<%= @minimum_password_length %> characters minimum)</em>
      <% end %>
    </div>
    <div class="field">
      <%= f.label :password_confirmation, "Password Confirmation", class: "label" %>
      <div class="input-wrapper">
        <%= f.password_field :password_confirmation, autocomplete: "new-password", class: "input", "data-passwords-target": "passwordConfirmation" %>
        <button tabindex="-1" data-action="click->passwords#toggle" type="button" class="input-wrapper__icon input-wrapper__icon--right">
          <i data-passwords-target="toggle" class="fa-sharp fa-light fa-eye"></i>
        </button>
      </div>
    </div>
    <div class="field">
      <%= f.label :signed_tos, class: "checkbox" do %>
        <%= f.check_box :signed_tos %>
        <span>I agree to the <%= link_to "Terms of Service", terms_url, class: "link" %></span>
      <% end %>
    </div>
  </div>
  <div class="card__footer card__footer--column">
    <%= f.submit "Sign up", class: "button button--full" %>
    <div class="separator separator--has-text separator--text-lg" data-text="Already have an account?"></div>
    <%= link_to "Login", new_session_path(resource_name), class: "button button--outline button--full" %>
  </div>
<% end %>