<% title "Resend unlock instructions" %>

<%= form_for(resource, as: resource_name, url: unlock_path(resource_name), html: { method: :post, class: "card" }) do |f| %>
  <div class="card__header">
    <h1 class="heading-1">Resend Unlock Steps</h1>
    <p class="subtitle">Please enter the email address you would like unlock steps to be sent to</p>
  </div>

  <div class="card__body">
    <%= link_to new_session_path(resource_name), class: "back-button" do %>
      <i class="fas fa-light fa-chevron-left fa-sm"></i>Go back
    <% end %>
    <div class="field">
      <%= f.label :email, "Email", class: "label" %>
      <%= f.email_field :email, autofocus: true, autocomplete: "email", value: (resource.pending_reconfirmation? ? resource.unconfirmed_email : resource.email), placeholder: "johndoe@email.com", class: "input" %>
    </div>
    <%= f.submit "Send", class: "button button--full" %>
  </div>
<% end %>
