<% title "Forgot your password?" %>

<%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post, class: "card" }) do |f| %>
  <div class="card__header">
    <h1 class="heading-1">Forgot Your Password?</h1>
    <p class="subtitle">Please enter the email address you would like password instructions to be sent to</p>
  </div>

  <div class="card__body">
    <%= link_to new_session_path(resource_name), class: "back-button" do %>
      <i class="fas fa-light fa-chevron-left fa-sm"></i>Go back
    <% end %>
    <div class="field">
      <%= f.label :email, "Email", class: "label" %>
      <%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder: "johndoe@email.com", class: "input" %>
    </div>
    <%= f.submit "Confirm", class: "button button--full" %>
  </div>
<% end %>
