<% title "Welcome" %>

<%= form_with url: onboarding_path, method: :patch, class: "card" do |f| %>
  <div class="card__header">
    <h2 class="heading-2">Welcome</h2>
  </div>
  <div class="card__body">
    <p>To get started, please accept the following disclosures:</p>
    <div class="disclosures">
      <% @required_disclosures.each do |disclosure| %>
        <div class="field disclosure">
          <%= f.label disclosure[:form_id], class: "checkbox" do %>
            <%= f.check_box disclosure[:form_id] %>
            <span>I agree to the <%= link_to disclosure[:title], disclosure[:url], class: "link" %></span>
          <% end %>
        </div>
      <% end %>
    </div>
  </div>
  <div class="card__footer">
    <%= submit_tag "Accept", class: "button button--primary button--pad-sm" %>
  </div>
<% end %>
