<tr id="<%= dom_id user %>">
  <td><%= user.id %></td>
  <td><%= user.name %></td>
  <td><%= format_date user.created_at %></td>
  <td><%= user.email %></td>
  <td><%= user.confirmed_at? %></td>
  <td><%= user.admin? %></td>
  <td>
    <div data-controller="dropdown" data-turbo-permanent>
      <button data-dropdown-target="reference" data-action="click->dropdown#toggle click@window->dropdown#hide">
        <i class="fa-light fa-ellipsis-vertical"></i>
      </button>
      <div data-dropdown-target="floating" class="d-none">
        <%= link_to "Open", dashboard_path, class: "dropdown-item", "data-dropdown-target": "item" %>
      </div>
    </div>
  </td>
</tr>