<!DOCTYPE html>
<html>
<head>
  <title>Ruby</title>
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= stylesheet_link_tag :all, "data-turbo-track": "reload" %>
  <%= javascript_include_tag "devise-otp", "data-turbo-track": "reload", defer: false if controller_name.include?("otp_tokens") %>
  <%= javascript_importmap_tags %>
</head>

<body>
<div class="content-grid--flash content-grid content-grid--website">
  <%= render "shared/flash" %>
</div>
<%= render "shared/font_awesome" %>
<%= yield %>
</body>
</html>
